argon2-cffi==19.1.0
bcrypt==3.1.7
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Django==2.1
django-crispy-forms==1.7.2
django-recaptcha==2.0.4
Faker==2.0.1
gunicorn==19.9.0
idna==2.8
Pillow==6.1.0

pycparser==2.19
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0

