{% extends 'patient/index.html' %}
{% block content %}

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE CREATOR</h3>
  <p class="w3-center w3-large"><a href="{% url 'admin:index' %}">&#10057; ASHISH SASMAL</a>
</p>
  <p class="w3-center w3-large">  &hearts; SINGLE</p>
  <p class="w3-center w3-large">UNIVERSITY SCHOOL OF INFORMATION,COMMUNICATIONS AND TECHNOLOGY</p>
  <br>
  <h4 class="w3-center">Reach Me</h4>
  <div class="w3-row-padding w3-center" style="margin-top:64px" id="social">
    <div class="w3-quarter">
      <i class="fa fa-envelope w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large"> EMAIL</p>
      <p>ashishsasmal1@gmail.com</p>
    </div>
    <div class="w3-quarter" style="color:black;>
      <a href="https://www.facebook.com/ashish.sasmal.37"><i class="fa fa-facebook w3-margin-bottom w3-jumbo" ></i>
      
    <p class="w3-large" >FACEBOOK</p></a>
    <p>facebook.com/ashish.sasmal.37</p>
    </div>
    <div class="w3-quarter" style="color:black;>
      <a href="https://github.com/ashish1sasmal"><i class="fa fa-github w3-margin-bottom w3-jumbo"></i>
      
    <p class="w3-large" >GITHUB</p></a>
    <p>Check out my work here!</p>
    </div>
    
      <div class="w3-quarter" style="color:black;>
      <a href="https://twitter.com/AshishSasmal1"><i class="fa fa-twitter w3-margin-bottom w3-jumbo"></i>
      
    <p class="w3-large" >TWITTER</p></a>
    <p>fOLLOW MY TWEETS ON TWITTER!</p>
    </div>

</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>We know design.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Works</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="https://miro.medium.com/max/4096/1*J9XxmCjy0ZyvFSELAOuOnQ.jpeg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>


{% endblock content %}