{% extends 'patient/index.html' %}
{% load staticfiles %}
{% block content %}

<div class="text-center">

	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<button type="button" class="close" datpa-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body text-center">
				<h4>Thank You !</h4>	
				<p>{{ info }}</p>
				<p><b>Kindly check your email ,for further confirmation!</b></p>
				<button class="btn btn-success" data-dismiss="modal"><a href="{% url 'home' %}"></a><span>Back To Home</span></a> <i class="material-icons">&#xE5C8;</i></button>
			</div>
		</div>
	</div>
 </div>

    
{% endblock content %}                         